<!DOCTYPE>
<html>
<head>
    <title></title>
</head>
<body>
    <form id="form" action="http://wtcns07.passivecomponent.com/names.nsf?Login" method="post">
        <input type="text" name="%%ModDate" value="0000000100000000" />
        <input type="text" name="RedirectTo" value="/lwfsys/lwfLawSignApp.nsf" />
        <input type="text" name="Username1" value="" />
        <input type="text" name="Password1" value="" />
        <input type="text" name="Username" value="xiaolong.qi" />
        <input type="text" name="Password" value="asdfeasdfe" />
    </form>

    <script>
        window.onload = function () {
            document.getElementById("form").submit();
        }
    </script>
</body>
</html>
